*{
    padding: 0px;
    margin: 0px;
}


@font-face{
    font-family:"Roboto", sans-serif;
    src:url(Roboto/Roboto-Black.ttf)
  }

.navbg{
    background-color: #ffb2b2;

}

.bd-placeholder-img{
    background-image: url(Images/search2.webp);
    /* background-repeat: repeat-x; */
}

.bGGG{
    background-color:rgb(247,229, 244);
 }

.bgg{
    background-color:rgb(247,229, 244);
/* 
    background-color:rgb(247,229, 244);
     background-color: rgb(255, 137, 137);  */
} 
.cGGb{
    background-color: rgb(218, 150,186);
}
.BGGC{
    background-image:url(Images/109.png) ;
    width: 100%;
    height: 80%;
}

.agg{
    background-color: rgb(210, 224, 254);
}
.DDD{
    background-image: url(Images/14.png);
    width: 110%;
    height: 135%;
}
.search{
    margin-top: 250px;
    padding: 2px;
}

.signin{
    margin-top: 170px;

}
/* .imgBg{
    background-color: #000;
    background-color: #b7e5f5;
    background-color: #ffcccf;

} */
 /* start carousel */

.carousel_text {
    top: 35%;
    left: 10%;
}

/* category */

.card_hover:hover {
    /* background-color: rgb(243, 75, 75) !important; */
    /* color: white; */
    box-shadow: -2px 3px 10px 0px rgba(224, 87, 87, 1);
}

/* course */
.course_img_hover {
    transform: scale(1.2);
    transition-duration: .7s;
}

.course_img_hidden {
    overflow: hidden;
}


.image_hover{
}


.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }


  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  
  .bd-mode-toggle {
    z-index: 1500;
  }

  .bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
  }

  
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }


/*   
  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  } */

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  
  .bd-mode-toggle {
    z-index: 1500;
  }

  .bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
  }